/* Layout */
html {
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

section {
    display: table;
    width: 100%;
    margin: 0 auto;
    width: 800px;
    border-bottom: 1px solid #ddd;
}

section:last-of-type {
    border-bottom: 0;
}

main, aside {
    display: table-cell;
    padding: 1em;
}

main {
    width: 70%;
}

aside {
    width: 30%;
}

aside h3 {
    margin: 0;
}

header {
    background: #ffb100;
    margin-bottom: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

header > div {
    width: 800px;
    margin: 0 auto;
}

header img {
    vertical-align: middle;
}

h1 {
    width: 800px;
    margin: 0 auto;
}

/* Form */
button[type="submit"] {
    background-color: #26b910;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    padding: 0.75em 1em;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    border: none;
    cursor: pointer;
}

fieldset {
    border: 0;
}

fieldset legend {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-left: -0.5em;
}

.field.required label:after {
    content: " *";
    color: red;
    opacity: 0.8;
}

.field input[type="text"],
.field input[type="email"] {
}

.field {
    margin-bottom: 1em;
}

.field label {
    display: block;
}

.field input[type="radio"] + label {
    display: inline-block;
}

.field input[type="checkbox"] + label {
    display: inline-block;
}
