/* Layout */
html {
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

section {
    display: table;
    width: 100%;
    margin: 0 auto;
    width: 800px;
    border-bottom: 1px solid #ddd;
}

main, aside {
    display: table-cell;
    padding: 1em;
}

main {
    width: 70%;
}

aside {
    width: 30%;
}

aside h3 {
    margin: 0;
}

header {
    background: #ffb100;
    margin-bottom: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

header > div {
    width: 800px;
    margin: 0 auto;
}


/* Form */

fieldset {
    border: 0;
}

fieldset legend {
    font-size: 1.5em;
}

.field.required label:after {
    content: " *";
    color: red;
    opacity: 0.8;
}

.field input[type="text"],
.field input[type="email"] {
}

.field {
    margin-bottom: 1em;
}

.field label {
    display: block;
}

.field input[type="radio"] + label {
    display: inline-block;
}

.field input[type="checkbox"] + label {
    display: inline-block;
}
